.material-symbols-outlined {
    font-variation-settings:
            'FILL' 0,
            'wght' 400,
            'GRAD' 0,
            'opsz' 24;
}

.bg-mesh {
    background-color: #fbf9f8;
    background-image:
            radial-gradient(at 0% 0%, rgba(214, 227, 255, 0.15) 0px, transparent 50%),
            radial-gradient(at 100% 100%, rgba(254, 212, 136, 0.1) 0px, transparent 50%);
}

input:focus {
    outline: none;
    box-shadow: none !important;
}

.requirement-item {
    color: #44474d;
    transition: color 0.3s ease;
}

.requirement-item.met {
    color: #775a19;
}

.requirement-item.met span {
    font-variation-settings: 'FILL' 1;
}